.fast {
    color:#FF7E00;
    font-size: 50px;
    font-weight: bolder;
}
.fast_food {
    Width:750px;
    Height:712px;
}
.food_delivery{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    line-height: 85%;
    padding-top: 2.5%;
    padding-left: 5%;
}
.Group_4{
    Width:110px;
    Height:150px;
    margin-bottom: 150%;
    
}
.button{
    Width:188px;
    Height:70px;
    border-radius:84px;
    --bs-btn-bg: #000000;
    --bs-btn-active-bg: #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover{
    text-decoration: underline;
    color: #072f9b;
    --bs-btn-hover-bg: #000000;
}
.Watch_Vedio{
    Width:131px;
    Height:19px;
}
.Watch_Vedio:hover{
    text-decoration: underline;
    color: #072f9b;
}
.Group_3{
    Width:255px;
    Height:92px;
}
.Group_2{
    Width:57px;
    Height:57px;
}
.text{
    color:#909090;
    font-size:22px;
    font-weight: normal;
}