.Logo {
    height: 71px;
    width: 46px;
    margin-right: 600px;
}

.me-auto1 {
    margin-left: 79%;
    Width: 438px;
    height: 42px;
    Top: 69px;
}
.foo{
    font-size: 32px;
    font-weight: bold;
}
.foo:hover{
    text-decoration: underline;
    color:#072f9b;
}
.menu:hover {
    text-decoration: underline;
    color: #D7F03A;
}

.vector {
    Width: 18px;
    Height: 18px;
}
.line{
    Width:45px;
    Top:47px;
}
.shopping_cart{
    Width:20px;
    Height:20px;
}
.text_2{
    Width:6px;
    Height:9px;
    color: red;
}